<div class="container">
    <div class="products">
        <div class="product">
            <h2>Auto Vehicle Parts</h2>
            <p class="description">We are dedicated to keeping your vehicles on the road and running at their best. Our comprehensive selection of auto parts includes engine components, brakes, suspension parts, electrical systems, and much more. Quality and performance are our priorities.</p>
        </div>

        <div class="product">
            <h2>Workshop Equipment</h2>
            <p class="description">We take pride in being your trusted partner for automotive excellence. A well-equipped workshop is essential for efficiency and precision in auto-repair and maintenance. Explore our comprehensive range of high-quality workshop equipment to meet all your needs.</p>
        </div>

        <div class="product">
            <h2>Construction Equipment and Machinery</h2>
            <p class="description">Success in your construction projects depends on the quality and reliability of your equipment. We are dedicated to being your trusted partner, providing an extensive range of high-quality construction equipment and machinery to meet all your project needs.</p>
        </div>

        <div class="product">
            <h2>Mining Equipment</h2>
            <p class="description">At Khudua, we're not just about automotive excellence; we're also at the forefront of supplying top-tier mining equipment for the modern mining industry. Our range of mining equipment is designed to meet the evolving needs of mining operations, offering superior performance, durability, and efficiency.</p>
        </div>
    </div>
</div>
