<div class="address-section">
    <div class="section-title">Contact Information</div>
    <p>Sales: 0713190600</p>
    <p>Customer Support: 0720660930</p>
    <p>Email Address: <a href="mailto:Marvin@khudua.co.za">Marvin$khudua.co.za</a></p>
</div>

<div class="container">
    <div class="address-section">
        <div class="section-title">Main Office</div>
        <p>
            Stand 294 Moshate<br>
            Ga_Sekororo<br>
            Trichardtsdal, 0890
        </p>
        <a class="map-link" href="https://www.google.com/maps?q=Stand+294+Moshate+Ga_Sekororo+Trichardtsdal+0890" target="_blank">View on Google Maps</a>
    </div>

    <div class="address-section">
        <div class="section-title">Polokwane Office</div>
        <p class="address">
            1 Basil Street<br>
            Ivy Park<br>
            Polokwane, 0699
        </p>
        <a class="map-link" href="https://www.google.com/maps?q=1+Basil+Street+Ivy+Park+Polokwane+0699" target="_blank">View on Google Maps</a>
    </div>

    <div class="address-section">
        <div class="section-title">Johannesburg Office</div>
        <p class="address">
            3 Ealing Crescent<br>
            Bryanston<br>
            Johannesburg, 2191
        </p>
        <a class="map-link" href="https://www.google.com/maps?q=3+Ealing+Crescent+Bryanston+Johannesburg+2191" target="_blank">View on Google Maps</a>
    </div>

    <form (ngSubmit)="submitQuery(userQuery)" #contactForm="ngForm">
        <div class="form-input">
            <label for="full-name">First Name:</label>
            <input type="text" id="first-name" name="first-name" [(ngModel)]="userQuery.name" required>
        </div>

        <div class="form-input">
            <label for="full-name">Last Name:</label>
            <input type="text" id="last-name" name="last-name" [(ngModel)]="userQuery.lastName" required>
        </div>
        
        <div class="form-input">
            <label for="cellphone">Cellphone Number:</label>
            <input type="tel" id="cellphone" name="cellphone" [(ngModel)]="userQuery.cellphone" required>
        </div>
    
        <div class="form-input">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" [(ngModel)]="userQuery.email" required>
        </div>
    
        <div class="form-input">
            <label for="message">How Can We Help You?</label>
            <textarea id="message" name="query" [(ngModel)]="userQuery.query" required></textarea>
        </div>
    
        <button class="submit-button" type="submit">Submit Query</button>
    </form>
</div>




