/* Image Container */
.image-container {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.paragraph p {
    font-size: 18px;
    line-height: 1.8;
    margin: 20px 0;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
}

.image-container img {
    width: 10rem;
    height: 10rem;
}

/* Image Box Styling */
.image-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin: 10px;
}

.image-box {
    border: 2px solid #aaa;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-box img {
    width: 100%;
    display: block;
}

.image-box .label {
    background: #aa853d;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.image-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button */
#more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #aa853d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#more-button:hover {
    background-color: #8a6a2d;
}